reference/TimeEntryRia/TimeEntryRia/Service References/Services/TimesheetSummaryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimeEntryRia.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimeEntryRia.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSummaryRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SummaryRow" nillable="true" type="tns:SummaryRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummaryRow" nillable="true" type="tns:ArrayOfSummaryRow" />
  <xs:complexType name="SummaryRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriTotal" type="xs:double" />
      <xs:element minOccurs="0" name="IsTotalRow" type="xs:boolean" />
      <xs:element minOccurs="0" name="MonTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SatTotal" type="xs:double" />
      <xs:element minOccurs="0" name="SunTotal" type="xs:double" />
      <xs:element minOccurs="0" name="ThuTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="TueTotal" type="xs:double" />
      <xs:element minOccurs="0" name="WedTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryRow" nillable="true" type="tns:SummaryRow" />
</xs:schema>